.div {
	min-height: 0;
	overflow-y: auto;
}

.form {
  display: flex;
  overflow-y: auto;
  max-width: 30rem;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: 0.75rem;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.form input,

.form button {
  font: inherit;
  padding: 0.6em;
  border-radius: 0.5rem;
  border: 1px solid hsl(0 0% 80%);
}

.form input:focus {
  outline: none;
  border-color: hsl(240 80% 60%);
}

.form button {
  margin-top: 1em;
  background: hsl(240 80% 60%);
  color: white;
  border: none;
  cursor: pointer;
}
