@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

main {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  max-height: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}

header {
	flex: 1;
	position: absolute;
	background: #636CFF;
	color: #efefef;
    width: 100%;
	top: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3em;
}

.Status {
  display: flex;         /* Make it a flex container */
  justify-content: flex-end; /* Right-align the content */
  align-items: right;   /* Vertically center the content (optional) */
  font-size: large;
  padding-right: 3em;
}

.AppTitle {
	font-size: x-large;
}

footer {
	flex: 1;
	position: absolute;
	bottom: 0;
	background: #636CFF;
	color: #efefef;
    width: 100%;
	display: flex;
	margin: auto;
	justify-content: center;
	overflow-x: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.NavButton-active {
	padding-left: 4em;
	padding-right: 4em;
	background: #efefef;
	color: #636CFF;
}

.NavButton-nonactive {
	padding-left: 4em;
	padding-right: 4em;
}


