@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
  overflow: auto;
}

header {
	position: absolute;
	background: #636CFF;
	color: #efefef;
    width: 100%;
	top: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3em;
}

.AppTitle {
	font-size: x-large;
}

footer {
	position: absolute;
	bottom: 0;
	position: absolute;
	background: #636CFF;
	color: #efefef;
    width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3em;
	display: flex;
	margin: auto;
	justify-content: center;
}

.NavButton-active {
	padding-left: 4em;
	padding-right: 4em;
	background: #efefef;
	color: #636CFF;
}

.NavButton-nonactive {
	padding-left: 4em;
	padding-right: 4em;
}
